@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    color: #fff;
}

.login-form{
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: #C7EBFF;
    padding: 30px;
    justify-content: center;
    display: grid;
    font-family: 'poppins',sans-serif;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}
.container{
    max-width: 600px;
    margin:  auto;
}

.login-form h1{
    text-align: center;
    margin: auto;
    font-size: 60px;
    font-weight: 400;
    color: #272346;
    text-transform: uppercase;
    font-family: 'poppins',sans-serif;

}
.login-form h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: #272346;
    text-align: center;
}
.login-form .main{
    position: relative;
    display: flex;
    margin: 30px 0;
}
.content{
    padding: 3em 3em;
    background: #fafdff;
    box-shadow: 12px 12px 50px -17px rgba(0,0,0,0.15);
    border-radius: 8px;
}

p{
    color: #000000;
    font-size: 16px;
    line-height: 25px;
    opacity: 1;
    text-align: center;
}
.btn,button,input{
    border-radius: 35px;
    cursor: pointer;
}
.btn:hover,
button:hover{
  color: #272346;
    transition: 0.5s ease;
}
a{
    text-decoration: none;
}
.login-form form{
    margin: 30px 0;
}
.login-form input{
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #515053;
    background: #f7fafc;
    transition: 0.3s ease;
}
.login-form input:focus{
    background: transparent;
    border: 1px solid #4e34b6;
}

.login-form button{
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #99bdd0;
    border: none;
    padding: 14px 15px;
    font-weight: 600;
    transition: 0.3s ease;
}
p.account a{
    color: #4e34b6;
}
p.account a:hover{
 text-decoration: underline;
}
@media(max-width:736px){
    .login-form .main{
        flex-direction: column;
    }
    .login-form form{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .content{
        order: 1;
        border-radius: 8px;
    }

}